/** Typed.js stuff  */
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-text-container {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 2em;
    font-weight: 300;
    text-shadow: #000 0px 2px 4px;
    
    position: relative;
    top: 50%;
    transform: translateY(-100%);
}

html, body {
    height:100%;
}

#container-main {
    background: url("../images/background-flat.png");
    background-position: center;
    background-size: cover;
}

#container-work {
    padding: 20px 40px;
    height: auto;
}

#container-about {
    padding: 20px 40px;
}

.container {
    height: 100vh;
    background: #050231;
    width: 100%;
}

.element {
    display: inline-block;
}

.test {
    font-size: 20px;
}

.title-name {
    z-index: -1;
    display: inline-block;
    color: white;
    text-shadow: #000 0px 2px 4px;
    font-size: 25px;
    font-weight: 200;
}

.hello {
    display: block;
    margin: 0 auto;
    color: #000;
    padding: 10px 30px;
    font-size: 20px;
    letter-spacing: 1px;
}

h1 {
    color: white;
    font-weight: 200;
}

* {
   transition: width 0.9s;
}

#nav {
    position: fixed;
    text-align: center;
    right: 0;
    top: 12px;
    margin: 0 20px 0 0;
    float: right;
/*    position: fixed;*/
    z-index: 99;
    background: none;
    border: none;
}

#nav-container {
    
}

/* TODO: Edit navbar edit nav-bar */



/*
#nav .container-fluid {
    background: none;
    text-shadow: none;
    
    opacity: 0.7;
}
*/



.work-pic {
    
    max-width: 80%;
    max-height: 60%;
}

#work-wrapper {
    padding: 10px;
}

.work {
    padding: 5px;
/*    background: #1D1345;*/
    color: #C0C0C0;
/*    border: 1px solid white;*/
    text-align: center;
    
}

.tech-stack {
    font-style: italic;
    font-weight: 200;
}

.work:hover {
    opacity: 0.8;
}

h2 {
    font-weight: 300;
}

.skill {
    display: inline;
    width: 25px;
    margin-right: 10px;
    fill: white;
}

.skill-area img {
    
}

.skill-area p {
    display: inline-block;
    color: #9A99A2;
}

#education h4 {
    display: inline;
    color: #9A99A2;
}

#education p {
    font-style: italic;
    color: #9A99A2;
    margin-bottom: 10px;
}

.edu {
    width: 20px;
    margin-right: 10px;
}

.edu1 {
    width: 55px;
    margin-right: 10px;
}

.sub-title {
    color: #C0C0C0;
    margin: 10px 0 20px 10px;
}

.skill-area .col-md-3 {
    margin-bottom: 15px;
}